<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>단일</h3>
<form action="upload_ok" method="post" enctype="multipart/form-data">
	파일 : <input type="file" name="file"><br/>
	<input type="submit" vaule="업로드">
</form>

<hr/>

<h3>multiple옵션으로 다중파일 업로드</h3>
<form action="upload_ok2" method="post" enctype="multipart/form-data">
	파일 : <input type="file" name="file" multiple="multiple"><br/>
	<input type="submit" vaule="업로드">
</form>

<hr/>

<h3>복수태그로 여러파일 업로드</h3>
<form action="upload_ok3" method="post" enctype="multipart/form-data">
	파일 : <input type="file" name="file"><br/>
	파일 : <input type="file" name="file"><br/>
	파일 : <input type="file" name="file"><br/>
	<input type="submit" vaule="업로드">
</form>

<hr/>

	<h3>비동기형식의 업로드</h3>
      
      <div>
      <input type="file" name="file" id="a"> <br/>
      <input type="text" name="writer" id="writer"> <br/>
      
      <input type="button" value="업로드" id="btn"> <br/>
      </div>
   
   <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
   
   <script>
   
   $("#btn").click(function() {
   
      //파일데이터 추출
      var file = $("#a")
      console.log(file[0]); //순수한태그
      console.dir(file[0].files[0]); //파일데이터
      
      
      //사용자가 입력한 text
      var text = $("#writer").val();
      
      
      //폼태그로 추가
      var formData = new FormData(); //폼객체
      formData.append("file", file[0].files[0]); //name, 값
      formData.append("writer", writer); ///name, 값
      
      
      $.ajax({
         url: "upload_ok4",
         type: "post",
         data: formData, //보내는데이터 form
         contentType: false, //보내는 데이터타입 false -> "multipart/form-data"로 선언
         processData: false,// 폼데이터가 name=값&name=값 형식으로 자동변경되는 것을 막아준다
         success: function(result) { //콜백
            console.log(result);
         	if(result == "success"){
         		alert("업로드완료")
         	}
         },
         error: function(err) {
            alert("업로드 에러발생")
         }
      })
      
   })
   
   
   
   </script>

</body>
</html>