<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 인터페이스의 풀경로를 적음 -->
<mapper namespace="com.simple.basic.mapper.TestMapper">

	<!-- id는 인터페이스의 메서드명 resultType = 반환타입 -->
	<select id="getTime" resultType="String">
		select now()
	</select>
	
	<!-- ;는 작성하지 않는다 -->
	<!-- 한행에 대한 처리를 할 데이터 타입 -->
	<select id="getScore" resultType="ScoreVO">
		select * from score
	</select>
	
	<!-- 매개변수 - 단일값(interface에서 지정한 매개변수명 그대로 들어감) -->
	<select id="getOne" resultType="ScoreVO">
		select * from score where num = #{a}
	</select>
	
	
	<!-- parameterType - 매개변수의 타입 (생략가능함)  -->
	<insert id="insertOne" parameterType="String" >
		insert into score(name) values(#{name})
	</insert>
	
	<insert id="insertTwo" parameterType="ScoreVO">
		insert into score(name, kor, eng)
		values(#{name}, #{kor}, #{eng})
	</insert>
	
	<insert id="insertThree">
		insert into score(name, kor, eng)
		values(#{name}, #{kor}, #{eng})
	</insert>
	
	<select id="selectMap" resultType="map" parameterType="int">
		select * from score where num=#{num}
	</select>
	
	<select id="selectTwo" resultType="map">
		select * from score	
	</select>
	
	<!-- alias 설정이 있다면, 파라미터 타입, result타입에 단축명으로 사요가능하다 -->
	<update id="updateOne" parameterType="ScoreVO">
		update score 
		set name=#{name}, 
			kor=#{kor}, 
			eng=#{eng} 
		where num=#{num} 
	</update>
	
	<insert id="insertFour" >
		insert into score(name, kor) values(#{변수명1}, #{변수명2})
	</insert>
	
	
</mapper>