<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!-- 타임리프 명시적 선언 -->
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>타임리프</h3>
	
	<!-- 타임리프 문법을 사용하려면 속성앞에 th:를 붙인다 -->
	<h3 th:text="${'타임리프'}"></h3>
	<h3>[[${'헬로월드'}]]</h3>
	
	
	<h3 th:text="${1==1}"></h3>
	<h3>[[${1==1}]]</h3>
	
	<h3 th:text="${ true and false}"></h3>
	<h3>[[${ true and false}]]</h3>
	
	<h3>[[${'가' eq '가나다'}]]</h3>
	
	<hr/>
	<!-- 변수 선언 -->
	<div th:with="a=10">
		[[${a}]]
	</div>
	
	<div th:with="a=홍길동" th:text="${a}">
	</div>
	
	<!-- value속성의 사용 -->
	<div th:with="a = '이순신'">
		<input type="text" th:value="${a}">
	</div>
	
	<hr/>
	
	<!-- if문 -->
	<div th:with="a=10">
		
		<span th:if="${a} == 10">[[${a +'입니다'}]]</span>
		<span th:if="${a} == 20">[[${a +'입니다'}]]</span>
	</div>
	<hr/>
	
	<!-- if else문 - unless에는 동일한 문법을 작성한다 -->
	<div th:with="a=10">
		<span th:if="${a!=10}">10이 아닙니다</span>
		<span th:unless="${a!=10}"> 10이다</span>
	</div>
	<hr/>
	
	<!-- 삼항 연산자 -->
	<div th:with="a=10">
	[[${a==10 ? '참' : '거짓' }]]<br/>
	[[${a==10} ? '참' : '거짓}' ]]
	</div>
	<hr/>
	
	
	
</body>
</html>